.mat_list {
  list-style-type: none;
  display: block;
  height: 100%;
}
.mat_card {
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, 0.3),
    0px 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.mat_list {
  list-style-type: none;
  display: block;
  height: 100%;
}
.mat_list img {
  width: 100%;
  object-fit: cover;
}
.mat_list > li {
  /* padding: 0.5rem; */
  display: block;
  font-size: 1.5rem;
  margin-top: -1px;
  width: 100%;
  max-height: 100%;
  transition: max-height 0.5s;
  overflow: hidden;
}
.mat_list > li::before {
  content: "";
  width: 75%;
  display: block;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.mat_list > li.hide {
  max-height: 0px;
}
